<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(56, 56, 103, 0.98);
        color: white;
        text-align: center;
    }
    .navbar {
        position: relative;
        background: rgba(56, 56, 103, 0.98);
    }
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -50px !important;  /* 50% of your logo width */
        display: block;
    }
    .head_forgot{

        margin-left: 145px !important;
    }
    .navbar-default .navbar-brand {
        color: white !important;
    }
    </style>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Parking App</a>
        </div>
    </div>
</nav>
<div class="container">
  <!--  <div class="row">
        <div class="col-sm-12">
            <img src="/assets/img/logo/parking.jpg" class="img img-responsive" >
        </div>
    </div>-->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p class="text-center"><h1 class="head_forgot">Forgot Password!</h1></p>
            <%
            var messages = getMessages()

            if (messages.success) { %>
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>Reset Password!</strong> <%= messages.success%>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <% }
            else if (messages.error){ %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Reset Password!</strong> <%= messages.error%>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <% }

            %>
            <form method="post" action="/reset-password" id="passwordForm" style="<% if (messages.success) { %> display:none <%}%>">
                <input type="hidden" name="token" value="<%=token%>">
                <div class="form-group">
                    <label for="password1">Password</label>

                <input type="password" required class="form-control" name="new_pass" id="password1" placeholder="New Password" autocomplete="off">
                    </div>
                <div class="form-group">

                        <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>

                </div>
                <div class="form-group ">
                    <label for="password2" >New Password</label>

                <input type="password"  required class="form-control" name="confirm_pass" id="password2" placeholder="Repeat Password" autocomplete="off">
                    </div>
                <div class="form-group">
                    <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
                </div>
                <button type="submit" class="btn btn-success ">Submit</button>
                <button type="reset" class="btn btn-warning ">Cancel</button>
            </form>
        </div><!--/col-sm-6-->
    </div>
</div>
<div class="footer">
    <p>copyrights @2019 </p>
</div>
<script>
    $("input[type=password]").keyup(function(){

        if($("#password1").val().length >= 8){
            $("#8char").removeClass("glyphicon-remove");
            $("#8char").addClass("glyphicon-ok");
            $("#8char").css("color","#00A41E");
        }else{
            $("#8char").removeClass("glyphicon-ok");
            $("#8char").addClass("glyphicon-remove");
            $("#8char").css("color","#FF0004");
        }
        if($("#password1").val() == $("#password2").val()){
            $("#pwmatch").removeClass("glyphicon-remove");
            $("#pwmatch").addClass("glyphicon-ok");
            $("#pwmatch").css("color","#00A41E");
        }else{
            $("#pwmatch").removeClass("glyphicon-ok");
            $("#pwmatch").addClass("glyphicon-remove");
            $("#pwmatch").css("color","#FF0004");
        }
    });
</script>